<main class="container">
  <form class="signupinput grey darken-2" action="/auth/signup" method="POST">
    <div class="form-group">
      <label class="grey-text text-lighten-2" for="authEmail">Email</label>
      <input class="white-text" id="authEmail" class="form-control" type="email" name="email">
    </div>

    <div class="form-group">
      <label class="grey-text text-lighten-2" for="authName">Name</label>
      <input id="authName" class="form-control" type="text" name="name">
    </div>

    <div class="form-group">
      <label class="grey-text text-lighten-2" for="authPassword">Password</label>
      <input id="authPassword" class="form-control" type="password" name="password">
    </div>

    <input class="btn btn-primary" type="submit">
  </form>
</main>
