<main class="container extendWidth">
  <!-- <a href="/auth/signup">Signup</a>
  <a href="/auth/login">Login</a> -->
  <h1 class="center green-text text-darken-4 titlepagetitle">Welcome to Pet Search</h1>
  <div class="carousel carousel-slider center carouselsize" data-indicators="true">
    <div class="carousel-fixed-item center align-top">
      <a href="/auth/signup"><p class="btn teal white-text hoverable">Signup Today</p></a>
    </div>
    <div class="carousel-item carouselitemsize">
      <h5 class="sliderptag">Looking For A Friend</h5>
      <img class="sliderimgheight" src="/img/cat.jpg" href="#one!">
    </div>
    <div class="carousel-item carouselitemsize">
      <h5 class="sliderptag">Find an animal in need.</h5>
      <img class="sliderimgheight" src="/img/lonely.jpg" href="#two!">
    </div>
    <div class="carousel-item carouselitemsize">
      <h5 class="sliderptag">Befriend your new pet!</h5>
      <img class="sliderimgheight" src="/img/love.jpg" href="#three!">
    </div>
    <div class="carousel-item carouselitemsize">
      <h5 class="sliderptag">You have found a life long friend!</h5>
      <img class="sliderimgheight" src="/img/dogad.jpg" href="#four!">
    </div>
  </div>
</main>
