<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PetSearch</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="/js/main.js"></script>
  </head>
  <body>
    <nav class="nav-extended">
      <div class="nav-wrapper green darken-3">
        <h2 class="brand-logo center">Pet Search!</h2>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if (currentUser !== undefined){ %>
            <li><a href="/profile">Search</a></li>
            <li><a href="/pets">Favorites</a></li>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/auth/edit">Edit Profile</a></li>
          <% } else { %>
            <li><a href="/auth/signup">Sign Up</a></li>
            <li><a href="/auth/login">Log In</a></li>
            <li><a href="/">Home</a></li>
          <% } %>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <% if (currentUser !== undefined){ %>
            <li><a href="/profile">Search</a></li>
            <li><a href="/pets">Favorites</a></li>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/auth/edit">Edit Profile</a></li>
          <% } else { %>
            <li><a href="/auth/signup">Sign Up</a></li>
            <li><a href="/auth/login">Log In</a></li>
            <li><a href="/">Home</a></li>
          <% } %>
        </ul>
      </div>
    </nav>

      <% include partials/alerts %>
      <%- body %>

    <footer class="page-footer green darken-3">
        <div class="container">
          <div class="row">
            <div class="col l6 s6">
              <h5 class="white-text">Recognizes</h5>
              <p class="grey-text text-lighten-4">Petfinder for use of there api</p>
            </div>
            <div class="col l4 offset-l2 s6">
              <h5 class="white-text">Other</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/brant-porter/">linkedin</a></li>
                <li><a class="grey-text text-lighten-3" href="https://github.com/brantchyoga">GitHub</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2018 Copyright BrantchYoga
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
          </div>
        </div>
      </footer>
  </body>
</html>
