<main class="container">
  <h2>Hi there, <%= currentUser.name %>!</h2>

  <form action="/pets" method="POST">
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">location_on</i>
        <input id="icon_prefix" name="zipCode" type="text" class="validate">
        <label for="icon_prefix">Zip Code</label>
      </div>
      <div class="input-field col s3">
        <select name="gender">
          <option value="" disabled selected>Gender</option>
          <option value="M">Male</option>
          <option value="F">Female</option>
        </select>
      </div>
      <div class="input-field col s3">
        <select name="animal">
          <option value="" disabled selected>Animal</option>
          <option value="dog">Dog</option>
          <option value="cat">Cat</option>
        </select>
      </div>
    </div>
    <input class="btn blue" type="submit">
  </form>
</main>
