<main class="container">
  <div class="card grey darken-1 blue-border-round">
    <h1 class="marglittle">This pet is unavailable or you clicked on a shelter ad. Have a fruitfull search <%= currentUser.name %>!</h2>
    <div class="card-action center">
      <a href="/profile" class="btn teal hoverable center">Search Again</a>
    </div>
  </div>
</main>
