<main class="container extendWidth">
  <a href="/auth/logout">Logout</a>
  <a href="/profile">Search Again</a>

  <div class="row carouselheight">
    <div class="carousel carouselheight">
      <% pets.forEach(function(pet) { %>
          <div class="col s6 m5 l4">
            <div class="card blue darken-1 center-align hoverable image-height-same carousel-item">
              <div class="card-title">
                <h4 class="catch"><%= pet.name.$t %></h4>
              </div>
              <div class="card-image img-size">
                <img src="<%= pet.media.photos.photo[3].$t %>">
              </div>
              <div class="card-content">
                <a class="btn blue" href="/pets/<%= pet.id.$t %>">Add to Favorites</a>
              </div>
            </div>


          </div>
        <% }); %>
      </div>
    </div>

</main>
