<main class="container extendWidth">

  <div class="row">
    <!-- <div class="carousel"> -->
      <% pets.forEach(function(pet) { %>
          <div class="col s6 m5 l4">
            <div class="card hoverable card-same-size">
              <div class="card-title">
                <h4 class="petnamestyle center"><%= pet.name.$t %></h4>
              </div>
              <div class="card-image">
                <img class="image-same-size" src="<% if(pet.media.photos === undefined){%>
                  /img/noimage.jpg
                <%}else{%>
                  <%= pet.media.photos.photo[3].$t %>
                <% } %>">
              </div>
              <div class="card-action center">
                <a class="btn blue" href="/pets/<%= pet.id.$t %>">Add to Favorites</a>
              </div>
            </div>


          </div>
        <% }); %>
      <!-- </div> -->
    </div>

</main>
